* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.box {
  width: 300px;
  background-color: #eeeeee;
  margin: auto 15px;
  padding: 10px;
  position: relative;
}

.index {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: white;
}

h3 {
  padding-top: 15px;
  padding-bottom: 5px;
}

.image {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.image:nth-child(1) {
  background-image: url(img/flow01.png);
}

.image:nth-child(2) {
  background-image: url(img/flow02.png);
}

.image:nth-child(3) {
  background-image: url(img/flow03.png);
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}
